@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 100;
  src: url('../../public/fonts/estedad/Estedad-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 200;
  src: url('../../public/fonts/estedad/Estedad-ExtraLight.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 300;
  src: url('../../public/fonts/estedad/Estedad-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/estedad/Estedad-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/estedad/Estedad-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/fonts/estedad/Estedad-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/estedad/Estedad-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 800;
  src: url('../../public/fonts/estedad/Estedad-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Estedad';
  font-style: normal;
  font-weight: 900;
  src: url('../../public/fonts/estedad/Estedad-Black.woff2') format('woff2');
}
