@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';

@layer base {
  :root {
    --background-app-rgb: 255, 255, 255;

    --color-primary-800: 65, 127, 86; /* Primary Color*/
    --color-primary-700: 78, 153, 104;
    --color-primary-600: 97, 174, 123;
    --color-primary-500: 124, 188, 145;
    --color-primary-400: 150, 201, 167;
    --color-primary-300: 176, 215, 189;
    --color-primary-200: 202, 228, 211;
    --color-primary-100: 229, 242, 233;

    --color-shade-700: 8, 16, 11;
    --color-shade-600: 16, 32, 22;
    --color-shade-500: 24, 48, 32;
    --color-shade-400: 33, 64, 43;
    --color-shade-300: 41, 79, 54;
    --color-shade-200: 49, 95, 65;
    --color-shade-100: 57, 111, 75;

    --color-secondary-900: 12, 12, 12;
    --color-secondary-800: 53, 53, 53;
    --color-secondary-700: 113, 113, 113;
    --color-secondary-600: 117, 117, 117;
    --color-secondary-500: 173, 173, 173;
    --color-secondary-400: 203, 203, 203;
    --color-secondary-300: 237, 237, 237;
    --color-secondary-200: 225, 225, 225;
    --color-secondary-100: 249, 249, 249;

    --color-success: 0, 159, 109;
    --color-success-light: 0, 186, 136;
    --color-success-extraLight: 243, 253, 250;

    --color-error: 195, 0, 0;
    --color-error-light: 237, 46, 46;
    --color-error-extraLight: 255, 242, 242;

    --color-warning: 169, 121, 28;
    --color-warning-light: 244, 183, 64;
    --color-warning-extraLight: 255, 248, 225;
  }
}

@layer components {
  /* .textField__input {
    @apply focus:shadow-input-focus w-full rounded-xl border border-gray-100 bg-gray-100 px-4 py-3 text-secondary-900 outline-none transition-all duration-200 ease-in-out hover:border-primary-300 focus:border-primary-300 focus:bg-white focus:outline-none;
  } */

  .btn {
    @apply rounded bg-primary-800 p-2 text-center text-white transition-all duration-300 hover:bg-shade-200 focus:bg-shade-300 md:rounded-lg md:px-4 md:py-2;
  }

  .searchField__input {
    @apply w-full rounded border border-secondary-400 bg-red-200 px-4 py-2 text-secondary-800 placeholder-secondary-800 outline-none transition-all duration-200 ease-in-out focus:border-primary-800;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-estedad) sans-serif;
  min-height: 100vh;
  user-select: none;
  /* background-color: var(--background-app-rgb); */
}
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
