@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-estedad) sans-serif;
  min-height: 100vh;
  user-select: none;
  /* background-color: var(--background-app-rgb); */
}
